@import './variables.css';
@import './reset.css';
@import './theme.css';
@import './helpers.css';

.app-container {
    background-color: var(--theme-background);
    min-height: 100vh;
    width: 340px;
    min-width: 340px;
    height: auto;
    margin-inline: auto;
    padding-block: 20px 40px;


}

.page-container {
    min-height: calc(100vh - var(--header-height) - var(--app-padding-block)*2);
}



@media (min-width: 480px) {
    .app-container {
        width: 480px;
        padding-block: 20px 0;
        min-height: 100vh;
    }
}

@media (min-width: 768px) {
    .app-container {
        padding-inline: 0;
        padding-block: 30px;
        width: 768px;
    }
}

@media (min-width: 1024px) {
    .app-container {
        width: 1024px;
        padding-block: 60px 0;
    }

}

@media (min-width: 1200px) {
    .app-container {
        width: 1200px;
        padding-inline: 60px;
    }

}

@media (min-width: 1450px) {
    .app-container {
        width: 1440px;
        padding-inline: var(--app-padding-inline);
        padding-block: var(--app-padding-block) 0;
        margin-inline: auto;

    }
}