:root {
    /* THEME COLORS*/
    --theme-text: #0c090b;
    --theme-background: #fefdf9;
    --theme-primary: hsl(35, 77%, 62%);
    --theme-secondary: hsl(5, 85%, 63%);

    /* Neutral */
    --theme-neutral-0: hsl(36, 100%, 99%);
    --theme-neutral-1: hsl(233, 8%, 79%);
    --theme-neutral-2: hsl(236, 13%, 42%);
    --theme-neutral-3: hsl(240, 100%, 5%);

}

@media (prefers-color-scheme: dark) {
    :root {
        /* THEME COLORS - DARK*/
        --theme-text: #f6f3f5;
        --theme-background: #060506;
        --theme-primary: #85667d;
        --theme-secondary: #4e3e3c;
        --theme-accent: #6b5952;
    }

    html {
        color-scheme: dark;
    }
}