.aside {
    display: flex;
    flex-direction: column;
    padding-block: 30px;
    padding-inline: 25px;
    background-color: var(--theme-neutral-3);
}

.aside .mainTitle {
    letter-spacing: 1.4px;
    margin-bottom: 1.9375rem;
    color: var(--theme-primary);
}

.aside .secondaryTitle {
    font-size: 1.24rem;
    letter-spacing: 0.05px;
    font-family: Inter;
    font-weight: 800;
    color: var(--theme-neutral-0);
    margin-bottom: 8px;

    &:hover {
        color: var(--theme-primary);
        cursor: pointer;
    }
}

.aside .secondaryText {
    line-height: 1.5625rem;
    color: var(--theme-neutral-1);
    font-weight: 300;
    letter-spacing: 0.075px;
}

.aside .line {
    margin-block: 1.90625rem;
    border-color: var(--theme-neutral-2);
}

@media (max-width:1024px) {}

@media (min-width:1024px) {
    .aside {
        grid-row: 1/3;
        grid-column: 3;
    }
}