.header {
    display: flex;
    flex-direction: row;
    height: var(--header-height);
    align-items: center;
    margin-inline: var(--margin-inline);
    justify-content: space-between;

}

.nav {
    display: flex;
    gap: 20px;
    color: var(--theme-neutral-2);
}

.nav a:hover {
    color: var(--theme-neutral-1);
}

.nav a.active {
    color: var(--theme-neutral-1);
}

/* mobile navigation */

.menuIcon {
    position: relative;
    height: 30px;
    width: 40px;
    z-index: 10;

    display: flex;
    align-items: center;

}

.menuIcon img {
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.menuIcon img.open {
    opacity: 1;
}

.mobileNav {
    position: absolute;
    right: 0px;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: var(--theme-neutral-1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 250px;

    transition: right 0.4s ease-in-out;
}


.mobileNav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 100%;
    font-size: 20px;
    color: var(black);

    &:hover {
        color: var(--theme-neutral-0);
    }

    &.active {
        color: var(--theme-neutral-0);
    }
}





/* end of mobile navigation */


@media (max-width:480px) {
    .nav {
        display: none;
    }


}

@media(min-width:480px) {
    .mobileNav {
        display: none;
    }

    .menuIcon {
        display: none;
    }
}

@media (min-width:768px) {
    .nav {
        gap: 37.1px;
    }

}